[2017-04-20 11:53] alhardy opened #2 "Add Grafana dashboard for the sandbox project with prometheus datasource"

[2017-05-08 12:10] alhardy commented on #2
Added grafana dashboard, few things missing/incorrect
- health gauges aren't reported
- apdex scores not reported (use prometheus functions instead?)
- error rate not calculated as rpm
- throughput / endpoint not consistent with other app metrics reporters?

[2017-05-09 09:18] Rurouni commented on #2
- I have supported only Gauge,Counter,Meter,Historgram and Timer types
- Meters do not report rate, what they report is total count, then it's up to Grafana query to calculate rate via (https://prometheus.io/docs/querying/functions/#rate) . I think default is per sec everywhere in prometheus so it's up to query side to rescale
- I am transforming metrics names to adhere to Prometheus spec https://

[2017-05-09 17:34] alhardy commented on #2
Cheers @Rurouni. Would you be able to fix the incorrect/missing queries in the grafana daahboard I've added by running the sandbox project in this repo.

[2017-05-10 21:36] Rurouni commented on #2
I have fixed RPM queries in dashboard(it was about using *_count metric instead)
https://gist.github.com/Rurouni/c49fa744e4fff2f42578c5a37705ff70

Health and apdex still need to be added to reporter as gauges...

[2017-05-18 07:36] HigorCesar opened #3 "Unit of measurement configuration"
Prometheus best practices define that is a good idea to use a[ base unit of measurement](https://prometheus.io/docs/practices/naming/). So is possible to change time unit to seconds globally? Or are you planning to add this capability?

[2017-05-19 10:05] Rurouni commented on #3
Are you talking about mapping histogram part of timer metric?
Because Gauge/Counter/Meter report either last value or monotonically increasing count.

[2017-05-21 13:28] HigorCesar commented on #3
Exactly @Rurouni, timer _should_ be in seconds.

[2017-05-21 21:05] alhardy commented on #3
@HigorCesar It's not currently possible to change a timer's time unit to seconds globally atm. You can set the time unit yourself on `TimerOptions` however you won't be able to do that on the metrics recorded by `App.Metrics.Extensions.Middleware`.

I can look at providing a global setting, but first I'd like to understand why Prometheus promotes the use of seconds for things like HTTP request dur

[2017-05-21 21:32] Rurouni commented on #3
@alhardy I suppose it's because they don't support unit of measure as part of metric definition and have enough math in query language so they want to help people to not make mistakes mixing different unit of measure in queries.
I think it's probably a good idea to remap to seconds for timers in exporter by default,  but it's quite low priority because in the end App.Metrics allows you to define w

[2017-05-22 04:16] alhardy commented on #3
I was thinking the same actually re mapping to seconds in the Prometheus formatter

[2017-05-22 07:44] HigorCesar commented on #3
@alhardy I forked the repo and changed the method ToPrometheusMetrics of PrometheusMetricsExtensions. Since I want to see Prometheus metrics in the right format even in text output.

[2017-05-22 08:23] HigorCesar commented on #3
@alhardy I forked the repo and changed the method ToPrometheusMetrics of PrometheusMetricsExtensions. Since I want to see Prometheus metrics in the right format even in text output.
https://github.com/HigorCesar/AppMetrics.Extensions.Prometheus/commit/e2d10a4cb705f28b0adcc1998330ce7a4c722e3c
Do you think this solution is good enough?

[2017-05-22 08:50] alhardy commented on #3
@HigorCesar you would need to check the time unit before converting rather than assuming it is always milliseconds.

[2017-05-22 14:12] HigorCesar commented on #3
@alhardy tks for your help. I updated my solution, you can see it here:
https://github.com/HigorCesar/AppMetrics.Extensions.Prometheus/commit/12ce6f87481dd3419ac2b56b344ff7258013d434
Let me know if you have a better solution, maybe I'm able to implement it as I will probably use this extension.

[2017-05-23 03:30] alhardy commented on #3
@HigorCesar That'll work, since Prometheus recommends all durations in secs that's probably the way to go i.e. converting the unit here. I'm OK with that approach, but run it past @Rurouni this repo is pretty much his baby. I'm really just trying to keep things inline here with App.Metrics as I don't use Prometheus for any of my projects.

[2017-05-23 07:52] HigorCesar commented on #3
@Rurouni what do you think about the proposed solution? I can write tests and create a proper pull request. what do you think?

[2017-05-23 10:14] Rurouni commented on #3
@HigorCesar @alhardy I will add pull request today. It's even easier than we think because there already exists `TimerValue.Scale(TimeUnit)` method

[2017-05-23 11:01] HigorCesar commented on #3
Awesome, look forward to this release

[2017-05-23 11:01] #3 closed, assigned to nobody

[2017-05-23 11:18] Rurouni commented on #2
I have added those changes in this PR https://github.com/alhardy/AppMetrics.Extensions.Prometheus/pull/4

[2017-05-23 11:23] Rurouni commented on #3
Added PR (https://github.com/alhardy/AppMetrics.Extensions.Prometheus/pull/4) with this and also apdex score will be reported as gauge now.
Not sure how health checks fit into prometheus reporter, let's leave them for now.
@alhardy If you are happy with this PR maybe worth releasing stable nuget package?

[2017-05-23 12:39] alhardy commented on #3
@Rurouni yeah happy with that, I'll release a stable version sometime this week. Health check status values are reported as gauges so you'd already have it covered.

[2017-05-26 08:46] alhardy opened #5 "Allow both prometheus text and protobuf formatting"
The `metrics-text` endpoint now supports custom formats, see https://github.com/alhardy/AppMetrics/issues/143

Change the metrics plain text writer to implement `IMetricsTextResponseWriter` so both can be used, console and text file reporters now also support different formatters.

[2017-05-26 09:20] #2 closed, assigned to nobody

[2017-05-26 09:23] alhardy commented on #5
@Rurouni FYI you can have plain text run at `/metrics-text` and protobuf at `/metrics` now

[2017-05-26 09:23] #5 closed, assigned to nobody

[2017-05-26 13:35] alhardy opened #6 "Health check results and apdex not displayed in grafana web dashboard"

[2017-05-26 13:49] #6 closed, assigned to nobody

[2017-06-01 13:16] alhardy commented on #5
docs: http://app-metrics.io/web-application-monitoring/formatters/prometheus-formatter.html

[2017-06-08 08:13] mikefonted opened #8 ".NET Framework 4.6.2 compatibility?"
Hi,

I have been working with App.Metrics and InfluxDB extension meanwhile Prometheus one was released.
Today, I am trying to install it in the testing project where InfluxDB was, but NuGet says:

After checking both libraries, It seems that it is because of the lack of .NET Framework dependency in this one:

App.Metrics.Extensions.Reporting.InfluxDB
![image](https://user-images.githubusercontent.

[2017-06-08 11:30] alhardy commented on #8
@mikefonted Try [this](https://www.nuget.org/packages/App.Metrics.Formatters.Prometheus/1.1.1-alpha-0042)

[2017-06-08 13:29] mikefonted commented on #8
Yes!

Thank you

[2017-06-08 13:29] #8 closed, assigned to nobody

[2017-06-08 23:08] alhardy commented on #8
@mikefonted briefly, why is Prometheus your first choice in a TSDB?  Just curious.

[2017-06-09 06:47] mikefonted commented on #8
@alhardy briefly, in this case specifically, the pull model fits in better ;)

[2017-06-09 12:55] alhardy commented on #8
@mikefonted interesting, yeah I do see pro's and con's in both pull and push approaches. So you don't really have a preference in the DB itself?

@Rurouni can you share anything with your experience with Prometheus?

I see Prometheus has recently done some amazing IO improvements, it's also interesting that Influx is planning to support a pull model.

FYI in the latest release, the `/metrics` and

[2017-06-09 13:07] Rurouni commented on #8
@alhardy I went with Prometheus mostly because of very good Kubernetes support, but my project is not in production yet so I don't have any battle experience to share.  In theory pull model is more stable in production because you can't kill your monitoring system with too many writes.

[2017-06-09 13:15] alhardy commented on #8
@Rurouni Thanks for sharing. We've been in prod with InfluxDB for almost a year now, no dramas thus far, not plugging InfluxDB just like to know about options :) We are starting to POC containerizing (still on VMs) some of our stuff, so your comment is useful ;)

[2017-06-23 12:54] alhardy opened #9 "Grafana graphs brake when selecting "All" servers"
@Rurouni any ideas on this, re "All servers"? https://al-hardy.blog/2017/04/28/asp-net-core-monitoring-with-influxdb-grafana/#comment-15

[2017-06-23 13:44] markvincze commented on #9
Or if it's not confidential, if you could share the configuration of your dashboard, that would also be awesome.

Thanks,
Mark

[2017-06-23 15:00] markvincze commented on #9
Btw. I managed to set up the aggregation nicely for all the graphs, but none of the tables. I experimented quite a lot, but couldn't get aggregation working there at all, I always end up seeing all the single metric values in a long list.
Is it possible that the Table Panel works differently with Prometheus than with InfluxDB?

[2017-06-24 12:33] Rurouni commented on #9
You guys are ahead of me on this one. We have very simple proof of concept dashboards atm and I am doing avg/sum across all tags with filter only by service name so I don't need All/multi-select.
So I am quite interested on what works best as well...
From reading docs: http://docs.grafana.org/features/datasources/prometheus/

so ~ is the way to go. and I will probably would just have  a single das

[2017-06-26 15:34] markvincze commented on #9
@Rurouni
I see, then I guess we are on the same page.
One minor change: I also had to change the metric of the response time from millisecond to second.

One thing bothering me is that occasionally I get a huge spike in the throughput graph that I cannot explain, for example my endpoints have a throughput of ~10-20 rpm, and occasionally the graph shows a spike of ~500 rpm like this:

![image](http

[2017-06-26 21:47] alhardy commented on #9
@markvincze, I didn't realise you were referring to having a per server metric on the endpoint monitoring :) Could you PR your Grafana dashboard and I'll upload the changes to Grafana. [Here's](https://github.com/alhardy/AppMetrics.Extensions.Prometheus/blob/dev/visualization/grafana-dashboards/App.Metrics.Sandbox-Prometheus-GenericWeb.json) the dashboard in the repo.

I've checked a few of my pro

[2017-06-28 07:55] markvincze commented on #9
@alhardy Sure, I'll issue a PR. I removed all the Table Panels from my dashboard because they weren't working at all, do you want me to include that in the PR, or leave those untouched?

Yep, the spikes are consistently there on the per endpoint breakdown, and on the overall throughput.

[2017-06-28 08:58] alhardy commented on #9
@markvincze Cool, yeah leave the table panels untouched and I'll have a look.

Interesting re spikes, I'll run some tests on my local setup too see if I can replicate.

[2017-06-28 11:02] Rurouni commented on #9
@markvincze No, I haven't seen such spikes, but then I am not running it in any realistic environment yet.
From the look of it it may be a GC spike that compacted many requests to be deleayed and processed at once, but who knows... I would first try to isolate if it's problem in source data or AppMetrics or Prometheus itself. If you have logs of all requests in ElasticSearch you can at least check

[2017-07-05 07:14] mikefonted opened #11 "Histogram and Timer converted into Summary"
I have started using more complex metrics and queries with histograms and timers. The fact is that I have realized that [both are converted into summary](https://github.com/alhardy/AppMetrics.Extensions.Prometheus/blob/dev/src/App.Metrics.Formatters.Prometheus/PrometheusMetricsExtensions.cs). This makes [impossible to use aggregations](https://prometheus.io/docs/practices/histograms/#quantiles) an

[2017-07-05 11:00] Rurouni commented on #11
Hi @mikefonted,
Yes, AppMetrics pre-aggregates histograms into percentile buckets, so summary was the only option. That makes impossible to get true probability based buckets  when aggregating over multiple nodes, but in practice avg(percentile) still gives you good enough insight into how underlying system is performing in general for uniform nodes of the same service type.

LastUserValue is a st

[2017-07-05 11:22] #11 closed, assigned to nobody

[2017-07-15 10:35] alhardy opened #12 "Move to AppMetrics GitHub org"

[2017-07-15 10:35] alhardy opened #13 "App Metrics 2.0 package updates"

[2017-07-15 14:27] alhardy opened #14 "Rename packages to keep consistency with App Metrics 2.0 package naming"
Rename App.Metrics.Formatters.Prometheus to App.Metrics.AspNetCore.Formatters.Prometheus

[2017-07-16 09:04] #14 closed, assigned to nobody

[2017-07-16 09:04] #13 closed, assigned to nobody

[2017-07-16 09:04] #12 closed, assigned to nobody

[2017-08-28 08:43] alhardy commented on #9
@markvincze Did you end up doing anymore investigation here?

[2017-08-28 12:38] markvincze commented on #9
Hi @alhardy, no, unfortunately I didn't have any time to look into this yet.

[2017-08-28 23:23] alhardy commented on #9
OK will leave the issue open for now

[2017-09-19 11:58] alhardy opened #15 "Remove dependency on Microsoft DI and Configuration"
Use IMetricsBuilder from latest App Metrics core

[2017-09-19 11:58] alhardy opened #16 "Allow loading reporter settings from config"
Dependency on Microsoft DI and Configuration has been removed by default, still require a way to load settings from config

[2017-09-19 12:21] #16 closed, assigned to nobody

[2017-09-19 12:23] #15 closed, assigned to nobody

[2017-09-22 04:05] endofcake opened #18 "PushGateway support"
Hi,

Are there any plans to add support for pushing metrics to Push Gateway? The reason I'm asking it that we're running lots of containers on ephemeral ports, and scraping them with Prometheus is really non-trivial. In theory we could aggregate with cAdvisor, but its app metrics support is in alpha and isn't easy to set up either.

So using PushGateway as a workaround (similar to `andrasm/prometh

[2017-09-22 09:05] alhardy commented on #18
Hi @endofcake, I was looking at it at one point. @Rurouni has implemented the App Metrics Prometheus extension and pointed out push doesn't get used much in the Prometheus world. At the moment I have no plans but am happy to have a look sometime in the future, just don't know when that would be atm.

Happy to take a PR on this though and am interested in @Rurouni 's thoughts on this

[2017-09-22 10:45] Rurouni commented on #18
We don't use prometheus for push scenarious because in rare cases when we have such ephemeral jobs we push it to elasticsearch instead both logs and aggregated metrics. So I don't have any plans to support it but as @alhardy said PR is always welcomed.

[2017-09-22 20:53] endofcake commented on #18
Thanks for the quick replies.
That's fair, I'm not too keen to use PushGateway either, it's just that it seems to be the only viable option to get metrics from containerised apps in AWS ECS. They can expose `/metrics` endpoint without any problems, but they do it on ephemeral ports, and Prometheus has no way of discovering them.
If anyone has better suggestions how to solve this (without throwing

[2017-10-16 10:24] alhardy opened #19 "Add sourcelink support"
Support https://github.com/ctaggart/SourceLink which enables the source code repo to be the source server. Requires portable PDBs so will have to sacrifice OpenCover support for now.

[2017-10-16 11:06] #19 closed, assigned to nobody

[2017-10-23 16:18] astef opened #20 "Prometheus reporting returns windows line endings which are not supported by Prometheus scrappers"
I've exposed Prometheus endpoint using AppMetrics Prometheus reporting, hosted on Windows.

But Prometheus server (which is on Linux) prompts that my text endpoints contains this '\r' symbols.

Error text (from `/targets`):

There's also error for proto endpoint but it is not clear for me if is the same issue:

[2017-10-25 09:15] FinnNk commented on #20
I've seen the same thing. The first one is to do with the use of the string builder "writeline" method which is using an environment specific line ending. If I can find time I'll do a PR for this unless someone else fixes it first.

I don't think the proto endpoint errors are related as I still see them when my app is hosted on linux. I also see 'invalid metric name' errors from the proto endpoint

[2017-10-30 14:51] FinnNk commented on #20
I had a little time to look at the cause of the second issue today - Prometheus is looking at the content type of the response to decide which format the endpoint is returning. Currently this library presents text/plain for both the text endpoint and the proto endpoint. If you change the content type returned to vnd.google.protobuf then Prometheus seems to be correctly picking up the metrics.

[Pr

[2017-10-30 18:03] Rurouni commented on #20
@FinnNk I have just run sample website in this repo and it returns `Content-Type: application/vnd.google.protobuf; proto=io.prometheus.client.MetricFamily; encoding=delimited  ` when hitting `/metrics` endpoint, so it should be something else

[2017-10-30 18:39] FinnNk commented on #20
I wonder if it might be because we're using the 2.0.0 alpha nuget? I'm not at the computer where I was doing this right now but looking at the "dev" branch it seems fine, but if you look in the 2.0.0 branch:

https://github.com/AppMetrics/Prometheus/blob/2.0.0-refactoring/src/App.Metrics.Formatters.Prometheus/MetricsPrometheusProtobufOutputFormatter.cs

You can see where the media type is being se

[2017-10-31 16:50] Rurouni commented on #20
@FinnNk  Is there specific reason why you need 2.0 alpha? If it's for netcore2/aspcore2 then you can still use stable v1. At least that's what we use in our company and it's quite stable. We are running both Prometheus and services on linux in kubernetes though.

[2017-11-02 05:26] alhardy commented on #20
@FinnNk little testing has been done on the v2 prometheus side of things so far, as @Rurouni mentioned if you need a stable working version got with the latest v1, otherwise help in stabilizing v2 is greatly appreciated.

I've been overseas for the past couple of weeks, so haven't had the opportunity to investigate this issue. It looks like @Valyansky has kindly submitted a [PR](https://github.com

[2017-11-02 10:14] alhardy commented on #20
Found time to fix this, tested with prometheus 1.8.1 and 2.0.0-rc.2

[2017-11-02 10:14] #20 closed, assigned to nobody

[2017-11-02 20:02] staker4 opened #22 "MetricsPrometheusTextOutputFormatter doesn't respect Prometheus format encoding"
Using **App.Metrics.Formatters.Prometheus 2.0.0-alpha**, I noticed that the metrics-text generated uses the **'\r'** as new line instead of **'\n'** on Windows machine.

Looking at the code, I think the problem is due to the use of a new StreamWriter without setting the NewLine property to "\n" as in **AscciFormatter**.

**MetricsPrometheusTextOutputFormatter.cs (current)**
[code]

Code should use

[2017-11-02 23:43] alhardy commented on #22
Does [this PR](https://github.com/AppMetrics/Prometheus/pull/21) fix?

[2017-11-03 00:04] staker4 commented on #22
Looks good 👍
Sorry I didn't see it before.

[2017-11-03 00:04] #22 closed, assigned to nobody

[2017-11-22 14:26] APMarte opened #23 "Prometheus parse problems"
I cant acess metrics from appmetrics in prometheus.
Can it be parsing error?

level=warn ts=2017-11-22T14:23:50.458732892Z caller=scrape.go:675 component="target manager" scrape_pool=appmetrics target=http://*********/metrics-text msg="append failed" err="no token found"

[2017-11-23 12:01] roelandvh commented on #23
I seem to have the same issue. The output of the endpoint is the following (just some values replaced).

Metrics endpoint output:
[code]

Output of `prometheus --version`:
`prometheus, version 2.0.0 (branch: HEAD, revision: 0a74f98628a0463dddc90528220c94de5032d1a0)`

Prometheus error:
`level=warn ts=2017-11-23T12:01:01.6617151Z caller=scrape.go:673 component="target manager" scrape_pool=bla target

[2017-11-26 12:04] alhardy commented on #23
Should be fixed by https://github.com/AppMetrics/Prometheus/issues/20 haven't yet pushed to nuget.

[2017-11-29 17:41] talarari commented on #23
Getting the same issue, is a nuget version planned soon?

[2017-11-30 07:19] alhardy commented on #23
@talarari Not until early in the new year unfortunately, you can reference the latest packages from myget

[2017-12-04 16:53] APMarte commented on #23
I already solved it in my local machine, the problem is that prometheus can't parse UpperCases so types should be change to
# TYPE application_httprequests_transactions SUMMARY -> # TYPE application_httprequests_transactions summary

[2018-01-04 20:01] narciero commented on #23
any update on this? i am unable to use due to windows (CLRF) line endings being used, i am using v2.0.0-alpha and don't see a way to use unix line endings.

[2018-01-08 12:11] alhardy commented on #23
@narciero will release in the coming weeks

[2018-01-21 13:08] martinjt commented on #23
I've tried the package on myget and that doesn't appear to be working either.  I've added the line formatting to the options and forced to unix.  I've looked at #21 and that looks like it's just on the text endpoint, when prometheus is using /metric not /metric-text.

I'm using this on a dotnet core 2.0 app, running in a docker container, as is the prometheus instance (v2.1.0).  I've verified that

[2018-01-21 19:11] marcinbudny commented on #23
As a workaround, you can use text formatting on /metric endpoint. Confirmed to work with beta packages from myget feed.

[2018-01-21 19:13] martinjt commented on #23
Funnily enough, that is exactly how I got it working... Hopefully the
protobuf one will be sorted.

On 21 Jan 2018 19:11, "Marcin Budny" <notifications@github.com> wrote:

[2018-01-24 11:57] CraigMellon opened #25 "Metrics reset"
Due to prometheus using a pull option rather than push what would be the best way to reset the metrics like we would on a push?

Has anyone implemented anything to that would maybe reset the metrics when the metrics endpoint is requested?

[2018-01-24 15:16] Rurouni commented on #25
I wonder if Prometheus would handle it.  Majority of functions like rate() etc are supporting resets but they always explicitely mention the ones due to process restart. I don't think it's a good idea to reset it on every pull.

[2018-01-25 21:52] martinjt commented on #23
@alhardy anyword on a new release? would prefer not to use the alpha release on myget if possible.

[2018-01-28 12:26] alhardy commented on #23
I'm getting to it. Several things to do before a stable release goes out, I'll push out another pre-release sometime soon so you don't have to reference from myget ;)

[2018-01-28 12:31] martinjt commented on #23
No worries... Let me know if there's anything I can do to help... I can
probably get some time to help with fixes/testing if you need help there.

On 28 Jan 2018 12:26, "Allan Hardy" <notifications@github.com> wrote:

I'm getting to it. Several things to do before a stable release goes out,
I'll push out another pre-release sometime soon so you don't have to
reference from myget ;)

—
You are rece

[2018-01-29 15:49] aensidhe commented on #23
https://github.com/prometheus/docs/issues/927 - protobuf is not supported by prometheus 2.0+

[2018-01-29 19:37] martinjt opened #26 "Throughput Metrics wrong"
I'm trying to work out whether there is an issue with the app-metrics prometheus endpoint, or whether I'm just not understanding the way it's reporting things.  I completely understand that this could be a prometheus issue and you may not be able to help.

I'm using
avg(rate(application_httprequests_transactions_count{env="$environment",app="$application",job="$job"}[1m])*60) by (rate)

There is a

[2018-01-31 09:45] alhardy commented on #26
Related discussion: https://github.com/AppMetrics/Prometheus/issues/9#issuecomment-311095634

[2018-02-05 12:46] alhardy commented on #26
Closing this as a duplicate to https://github.com/AppMetrics/Prometheus/issues/9#issuecomment-311095634 discussion can continue there.

[2018-02-05 12:46] #26 closed, assigned to nobody

[2018-02-05 13:07] alhardy commented on #23
Seems like it is still undecided? https://github.com/prometheus/prometheus/issues/2788

[2018-02-09 14:14] alhardy opened #28 "Project dependency updates"
- [x] Test projects package updates
- [x] Benchmark projects package updates
- [x] Library projects package updates

[2018-02-10 09:36] #28 closed, assigned to nobody

[2018-03-07 12:52] kirychenkav opened #29 "Health status in /metrics-text endpoint with Prometheus Output Formatter"
Hi! I'm happy with App.Metrics functionality, but I have no idea how to make the Grafana's Health gouge to display any data.

I see, that there is have to be included `application_health_score` to the metrics, but there is no such tags.

How can I include health checks and health status to the metrics?

Thanks

[2018-03-07 20:05] alhardy commented on #29
Closing this one as it's a duplicate of https://github.com/AppMetrics/Health/issues/9

Planning to do this once .net core 2.1.0 is released as it comes with a 'HostedService' implementation for running background tasks

[2018-03-07 20:08] #29 closed, assigned to nobody

[2018-03-24 17:32] bdrupieski opened #30 "MetricsPrometheusTextOutputFormatter throws exception from race condition"
I was attempting to adapt https://github.com/alhardy/AppMetrics.Owin to use App.Metrics 2.0.0 and MetricsPrometheusTextOutputFormatter from this package when I found that MetricsPrometheusTextOutputFormatter will sometimes throw an InvalidOperationException with the message "The stream is currently in use by a previous operation on the stream.".

The problem seems to be a race conditions caused by

[2018-03-25 03:56] #30 closed, assigned to nobody

[2018-04-21 13:09] #25 closed, assigned to nobody

[2018-04-21 13:14] alhardy opened #33 "dotnet core 2.1.0 package updates"

[2018-04-25 20:36] kcameron1973 commented on #23
I am having a similar issue when my TYPE starts with a numeric value such as "5V_PG" or "01_System_LED".  Is this expected?

Version 2.2.1
Builddate: 20180314014:15:45

[2018-04-26 11:04] paulapaulTW commented on #23
@martinjt we are experiencing the same issue with our .net core app; you and @marcinbudny mention having a workaround using text formatting - can you provide more details?

We are trying to aggregate metrics in DataDog (prometheus format), setting up our output formatter this way in Startup.cs:
            IMetricsRoot metricsRoot = null;
            services.AddMetrics(metricsBuilder =>

[2018-04-26 11:34] alhardy commented on #23
I should be able to look into this one sometime over the next few days unless someone gets to it before me.

It did appear to be working for me against the latest version of prometheous with this configuration https://github.com/AppMetrics/Prometheus/blob/2.0.0/sandbox/MetricsPrometheusSandboxMvc/Host.cs#L29

[2018-04-26 22:33] SapientGuardian opened #34 "Reporting of counter items missing global context tags"
Prometheus reporting of counter items are missing the global context tags which are applied to the counter itself.

Repro steps:
1. Create a counter
[code]
2. Increment an item within the counter
[code]
3. Observe that json metrics (http://appserver/metrics) look sane
[code]
4. Observe that prometheus metrics (http://appserver/metrics-text) lack tags for individual items.

Actual result:
[code]

E

[2018-04-26 22:59] alhardy commented on #34
Thanks for providing details on your fix, will check it out

[2018-05-19 23:31] alhardy opened #36 "0.5 quantile should be median rather than mean"
https://github.com/AppMetrics/Prometheus/pull/35

[2018-05-19 23:32] #36 closed, assigned to nobody

[2018-06-03 15:58] alexeyzimarev opened #37 "Wrong URL in repo description"
Please change the repo description, the URL should be https://www.app-metrics.io/reporting/reporters/prometheus/

[2018-06-04 09:13] alhardy commented on #37
Done, thanks!

[2018-06-04 09:13] #37 closed, assigned to nobody

[2018-06-14 10:57] #33 closed, assigned to nobody

[2018-06-29 16:16] alhardy commented on #9
Can't replicate

[2018-06-29 16:16] #9 closed, assigned to nobody

[2018-07-06 16:56] alhardy opened #38 "Add health reporting to sample app and grafana dashboard"

[2018-09-12 14:32] davidrneves opened #39 "Prometheus parsing error"
Hi,

I'm having trouble with parsing metrics in prometheus.
When I start prometheus, I get the following error:
**target=http://localhost:59404/metrics-text msg="append failed" err="invalid metric type "GAUGE"**

This probably has to do with the metric type being in upper case instead of lower case as prometheus expects: # TYPE application_httprequests_apdex **GAUGE**

After looking for the at the

[2018-09-12 14:50] #39 closed, assigned to nobody

[2018-09-12 16:44] Rurouni commented on #39
actually, that's something they introduced in 2.4.0  and Prometheus 2.3.2 still works with current format

[2018-09-13 13:41] davisb10 commented on #23
What is the status of this being fixed? We are trying to use AppMetrics and Prometheus together at my job and have been waiting on this issue to be resolved to proceed.

[2018-09-26 22:45] AbsorbJonny opened #40 "As of Prometheus release 2.4 this formatter no longer functions. Invalid metric type error for metric types containing capitals."
As of Prometheus release 2.4 this formatter no longer functions.  Prometheus ingestion of a metrics endpoint generated by this formatter causes the error "invalid metric type".  This seems to be due to the capitalization of characters in the comment text printed above the metric.

Example metric output that causes a failure:
[code]
In the example above, the error generated by the Prometheus server

[2018-10-02 06:46] tdabasinskas commented on #40
@alhardy, could you please look into this with some priority, as it makes the library completely unusable?

[2018-10-02 07:35] alhardy commented on #40
@TDabasinskas I don't have much capacity at the moment, happy to take a PR in the meantime?

[2018-10-02 08:39] tdabasinskas commented on #40
@alhardy, sure. Please see https://github.com/AppMetrics/Prometheus/pull/41.

[2018-10-03 19:46] #40 closed, assigned to nobody

[2018-10-26 12:56] sc250024 opened #43 "Dashboard "No data points" unless specific pod selected"
Greetings,

Having a problem with the AppMetrics dashboard. Basically, I can view the metrics only if I select a specific application pod under the `server` variable. Otherwise, every pane displays "No data points" otherwise.

=> If I select **only one** pod under `server`, it works.
=> If I select **All** under `server`, it doesn't work.
=> If I select **2 or more** pods under `server`, it doesn'

[2018-10-29 09:41] sc250024 commented on #43
Looks like it was something simple. I found out on the StackOverflow article here: https://stackoverflow.com/questions/53013641/prometheus-or-when-using-rate. I'll open a PR.

[2018-10-31 15:25] trondhindenes commented on #23
Getting the same, and it seems to be caused by AppMetrics upper-casing the metric types.

[2018-11-16 09:38] svatal opened #44 "ResetOnReporting is not supported"
Counter and Apdex provides feature `ResetOnReporting` - while creating snapshot, it's value is reset back to zero.

This feature is implemented in AppMetrics in `MetricSnapshotSerializer`, used for instance in `MetricsTextOutputFormatter`. Since Prometheus in it's formatter does not use this generic serializer it should handle it by its own (or use the generic serializer to not miss any more featu

[2018-11-20 15:54] MarcoWesterink commented on #23
@trondhindenes Same issue here. as of prometheus 2.4.0 uppercase metric types are no longer supported. @alhardy Can you please push the fix to nuget?

[2018-11-23 11:03] ben-foster-cko commented on #40
@alhardy did this get released? I'm still seeing uppercase metric types

[2018-11-23 16:26] AbsorbJonny commented on #40
The fix was committed but no release was prepared.  👎   It appears others are discussing this same issue here:

https://github.com/AppMetrics/Prometheus/issues/23

[2018-11-23 16:27] AbsorbJonny commented on #23
The upper case issue was fixed in response to my bug report here:

https://github.com/AppMetrics/Prometheus/issues/40

But no updated release was prepared to include the fix.

[2018-12-02 22:13] #23 closed, assigned to nobody

[2019-01-06 02:32] fabricioveronez commented on #43
I have imported the dashboard 2204 for visualizing data from Prometheus. However, when I select application, environment, data source and server the data doesn't load, but when I execute the same query in Prometheus ' graph, It works.

[2019-01-06 02:32] fabricioveronez opened #46 "Grafana dashboard doesn't load panels and data"
I have imported the dashboard 2204 for visualizing data from Prometheus. However, when I select application, environment, data source and server the data doesn't load, but when I execute the same query in Prometheus ' graph, It works.

[2019-01-06 11:05] fabricioveronez commented on #46
Here's a picture
![capture](https://user-images.githubusercontent.com/854914/50735205-1bc05e00-1192-11e9-839b-57f339c2a7f1.PNG)

[2019-01-25 16:38] PedroFcul commented on #18
Is this still the case? I've been looking for a way to use app-metrics and prometheus with azure functions (that i haven't figured out how to access those metrics) and pushing these metrics to prometheus via Pushgateway would solve my problem

[2019-01-26 13:57] alhardy commented on #18
@PedroFcul I don't plan to support Prometheus push gateway

[2019-01-26 23:44] bdrupieski opened #48 "AsciiFormatter.Write closes stream it does not own"
When it writes out the Prometheus endpoint output, `AsciiFormatter.Write` uses a `StreamWriter` that closes the `Stream` passed to the method, here: https://github.com/AppMetrics/Prometheus/blob/8cb2945de7110deab7da02294d5683c76585018a/src/App.Metrics.Formatters.Prometheus/Internal/AsciiFormatter.cs#L32

If there's any middleware that runs after this that wants to do anything with the response str

[2019-01-27 21:41] alhardy commented on #18
Thanks @bdrupieski, yes happy to take a PR for this.

There's a reporter generic background task that will take care of flushing `IReportMetrics` on a given interval

[2019-01-27 23:21] cryptiklemur commented on #40
@alhardy This still doesn't look to be released yet?

[2019-01-29 13:08] bdrupieski commented on #44
Just curious, why do you want to reset them? I ask for my own education since I don't understand.

If Counter and Apdex metrics are configured to reset when reported, then if someone visits the metrics endpoint in their browser you would lose information. Only the person who hit the endpoint that one time would see those counts, since it wasn't Prometheus scraping the endpoint.

Also if Prometheus

[2019-01-29 16:40] svatal commented on #44
Reset - Our solution is running three backends. From time to time, they are scheduled to restart (windows updates). Of course not at the same time because of downtime. So in result, with continuous counter + aggregation + differences there are three huge downward spikes.

Access to endpoint - there should be no external access to the endpoint (reporting server is on the same side of a firewall)

T

[2019-01-29 20:22] alhardy commented on #40
Looks like the merge didn't apply for some reason.

Apologies, will look into this sometime this week

[2019-01-30 09:23] endofcake commented on #18
@bdrupieski , check out this project as well https://github.com/nexogen-international/Nexogen.Libraries.Metrics, it does support PushGateway.

[2019-02-07 15:19] hangy commented on #48
I just experienced the same problem while adding a metrics endpoint to ASP.NET WebApi (non-core, non-Owin). Closing the Stream is probably fine where you write directly to an output stream, but in my case, the best option seems to be to let the formatter write to a `MemoryStream` and return a `StreamContent` with that stream - except it doesn't work, because `MetricsPrometheusTextOutputFormatter`

[2019-02-18 08:47] bdaniel7 opened #49 "Prometheus doesn't like the feed produced by the AppMetrics API."
Prometheus doesn't like the feed produced by the AppMetrics API.
I'm configuring the AppMetrics like this:
[code]
When I visit the http://api.trains.online:5000/metrics, I see a json (that I attached to this issue).
[metrics.zip](https://github.com/AppMetrics/Prometheus/files/2874663/metrics.zip)

The Prometheus Targets page shows:

![prom-targets](https://user-images.githubusercontent.com/215914/

[2019-03-01 10:30] Mar4eli commented on #43
Encountered same problem. Used same solution without knowing about this issue. Voting for proposed fix

[2019-03-01 10:32] Mar4eli commented on #43
Good day, @alhardy, how about switching = to =~ in server filter to fix this issue?

[2019-03-01 13:03] Hyarmentir commented on #40
Hi @alhardy ,

any news on this fix ?
I was really counting on it to update my prometheus installation. :)

[2019-03-05 18:43] AbsorbJonny commented on #40
@Hyarmentir,

I just upgraded my packages to use the new version and the metric naming appears to be low-case as it should be.  I think this has been corrected.

[2019-03-07 11:48] Hyarmentir commented on #40
@AbsorbJonny My bad, I have tested so much versions of app metrics and prometheus that I got mixed up.
I expected to have upper case metrics type, but you are right the purpose was to have them lower case now.
Thank you.

[2019-03-08 08:43] ErikasKontenis opened #50 "Reporting Metrics Measurement Type Incorrectly"
Problem:
Prometheus reporting **Counter** measure type as a **Gauge** and **Histogram** as a **Summary**. During this measure type incorrect mapping can't use the specific recommended functions which are the best for example for the Counters instead for Gauges when creating dashboards in grafana.

Reproduction steps:
The reproduction can be easily made with the provided sample at https://github.co

[2019-03-10 13:29] bdrupieski commented on #49
By default the metrics endpoints are /metrics and /metrics-text. /metrics will return JSON, and /metrics-text will return the Prometheus format. You need to use /metrics-text, not /metrics.

Also, you don't need to use both `MetricsPrometheusTextOutputFormatter` and `MetricsPrometheusProtobufOutputFormatter`. I recommend you only use `MetricsPrometheusTextOutputFormatter`. The protobuf format is n

[2019-03-10 13:35] bdrupieski commented on #50
This is expected. AppMetrics metric types do not map exactly to Prometheus metrics.

AppMetrics counters can go up and down. You can increment and decrement them. Prometheus counters only go up. Prometheus gauges can go up and down, so AppMetrics counters correspond to Prometheus gauges, not Prometheus counters.

This is how AppMetrics metric types map to Prometheus metric types:
[code]

[2019-03-10 13:56] bdrupieski commented on #18
@endofcake I created a PR for this https://github.com/AppMetrics/Prometheus/pull/51

The PR needs an extra dependency to build for 4.5.2, so I'm not sure how soon if ever it might make it into this library, but you can at least copy and paste what's there to adapt to your own project in the meantime.

[2019-03-12 14:00] ErikasKontenis commented on #50
OK, so all is clear now. Thank you @bdrupieski.

[2019-03-12 14:00] #50 closed, assigned to nobody

[2019-03-14 10:59] bdaniel7 commented on #49
I removed the MetricsPrometheusProtobufOutputFormatter.
I configured the job like this:

  - job_name: 'api'
    metrics_path: /metrics-text
    static_configs:
      - targets: ['api.trains.online:5000']

But the endpoint is still not parsed:

strconv.ParseFloat: parsing "=": invalid syntax

λ curl -s http://api.trains.online:5000/metrics-text | promtool check metrics
error while linting: text fo

[2019-03-14 13:13] bdrupieski commented on #49
Can you post a zip of the output from your /metrics-text endpoint?

[2019-03-14 13:19] bdaniel7 commented on #49
It surely doesn't look like the output from the prometheus/metrics endpoint.
[metrics-text.zip](https://github.com/AppMetrics/Prometheus/files/2966529/metrics-text.zip)

[2019-03-14 19:29] bdrupieski commented on #49
That's not the prometheus format. Are you sure you're using `MetricsPrometheusTextOutputFormatter`?

It should look something like this
[code]

[2019-03-15 07:13] bdaniel7 commented on #49
This is my configuration:

[code]
And it's like this because I want to be able to switch on and off the collection of metrics.

[2019-03-16 14:43] bdrupieski commented on #49
It looks like you're configuring the same thing multiple times. I don't believe you need all four `ConfigureMetricsWithDefaults`, `UseMetricsWebTracking`, `UseMetricsEndpoints`, and `UseMetrics`. I think you only need `UseMetrics` and can do the configuration on the `MetricsWebHostOptions` you can pass to it. It's not formatting the metrics in the Prometheus format because you're misconfiguring it

[2019-03-18 08:23] bdaniel7 commented on #49
By switch on/off, I meant to disable it for certain configurations.
But the metrics topic already had me waste many hours, so I'm giving up for now.

[2019-03-18 08:23] #49 closed, assigned to nobody

[2019-03-26 10:54] #38 closed, assigned to nobody